*{
   padding: 0;
   margin: 0;
}
.main-section{
   background-image: linear-gradient( rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url(./images/bg_2.jpg);
   width: 100%;
   height: 100vh;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: top;
}
.main-section-header{
   display: flex;
   padding: 30px 60px 30px 60px;
}
.main-section-header--after-scrolldown{
   background-color: #fff;
   position: fixed;
   display: flex;
   padding: 10px 60px 10px 60px;
   box-shadow: 0 4px 2px -2px gray;
   width: -webkit-fill-available;
   top:-100px;
   transition: top 0.25s linear;
  /* animation-name: mainSectionHeaderAfterScrolling;
   animation-duration: 5s; */
 /*  animation-timing-function: ease;*/
}

.main-section-header--background-after--scrolling{
   background-color: #fff;
   position: fixed;
   transition: all 1s;
}
.job-portal-heading{
   color: #fff;
   font-size: 20px;
   margin-bottom: 0;
}
.job-portal-heading--afterScoll{
   color: #000;
   font-size: 20px;
   margin-bottom: 0;
}
.home-link{
   color: #A6A8AB; 
   text-decoration: none;
}
.home-link:hover{
   color: #fff;
   text-decoration: none;
}
.home-link--afterScroll{
   color: #4B9BFC;
   text-decoration: none;
}
.about-link{
   color: #fff;
   text-decoration: none;
}
.about-link--afterScroll{
   color: #676767;
   text-decoration: none;
}
.blog-link{
   color: #fff;
   text-decoration: none;
}
.blog-link--afterScroll{
   color: #676767;
   text-decoration: none;
}
.contact-link{
   color: #fff;
   text-decoration: none;
}
.contact-link--afterScroll{
   color: #676767;
   text-decoration: none;
}
.main-section-header-1{
   flex: 2;
   display: flex;
   align-items: center;
}
/* .main-section-header-1 h1{
   color: #fff;
   font-size: 20px;
} */
.main-section-header-2{
   flex: 3;
   justify-content: space-evenly;
   display: flex;
   align-items: center;
}
.main-section-header-2--toggle-button{
   display: none;
}
.toggle--main-section-header-2--content{
   display: none;
}
.post-button{
   padding: 10px;
   border: none;
   background-color: #157EFB;
   border-radius: 5px;
   color: #fff;
}
.want-job-button{
   padding: 10px;
   border: none;
   background-color: #5DD28E;
   border-radius: 5px;
   color: #fff;
}
.main-section-content{
   color: #fff;
   padding: 40px 0 40px 0px;
   padding: 30px 60px 30px 60px;
   animation-name: mainContentAnimation;
   animation-duration: 1s;
   animation-timing-function:ease;
}
.main-section-content p:first-of-type{
   color: #C8C9CC;
   font-size: 18px;
}
.main-section-content h1:first-of-type{
   font-size: 40px;
   font-weight: bold;
}
.main-section-content p:nth-of-type(2){
   font-size: 40px;
   margin: 0;
   line-height: 2rem;
}
.search-box-section{
   margin-top: 50px;
}
.search-box-section a{
   text-decoration: none;
   padding: 10px 15px 10px 15px;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}
.search-box-section a:hover{
   text-decoration: none;
}
.search-box-section a:first-of-type{
   background-color: #fff;
   color: #7E7E7E; 
}
.search-box-section a:last-of-type{
   background-color: #157EFB;
   color: #fff; 
}
.search-box--container{
   background-color: #fff;
   height: 100px;
   width: 70%;
   border-radius: 5px;
   align-items: center;
   display: flex;
   justify-content: space-evenly;
   margin-top: 8px
}
.search-box--item-1{
   width: 20%;
   border: 1px solid #DCDCDC;
   border-radius: 5px;
   display: flex;
   align-items: center;
   padding: 10px 5px 10px 5px;
}
.search-box--item-1 p {
   font-size: 14px !important;
   color: #aaa !important;
   overflow: hidden;
   white-space: nowrap;
   margin-bottom: 0;
   padding-left: 5px;
   padding-right: 5px;
}
.search-box--item-2{
   width: 20%;
   border: 1px solid #DCDCDC;
   border-radius: 5px;
   display: flex;
   align-items: center;
   padding: 10px 5px 10px 5px;
}
.search-box--item-2 p {
   font-size: 14px !important;
   color: #aaa !important;
   overflow: hidden;
   white-space: nowrap;
   margin-bottom: 0;
   padding-left: 5px;
   padding-right: 5px;
}
.search-box--item-3{
   width: 20%;
   border: 1px solid #DCDCDC;
   border-radius: 5px;
   display: flex;
   align-items: center;
   padding: 10px 5px 10px 5px;
}
.search-box--item-3 input{
    border: none;
    overflow: hidden;
    padding-left: 5px;
    padding-right: 5px;
    color: #aaa;
}
.search-box--item-4{
   width: 20%;
}
.search-box--item-4 button{
   padding: 10px 5px 10px 5px;
   width: 100%;
   border: none;
   background-color: #157EFB;
   color: #fff;
   font-size: 16px;
   border-radius: 5px;
}
.description-section{
   background-color: #F8F9FA;
   display: grid;
   grid-template-columns: repeat(4,1fr);
   padding: 30px 60px 30px 60px;
   grid-column-gap: 15px;
   height: 350px;
}

.description-section--item{
   align-self: center;
   animation-name: descriptionSectionAnimation;
   animation-duration: 1s;
}

.description-section p:first-of-type{
   color: #595959;
   line-height: 35px;
}
.description-section p:last-of-type{
   color: #B3B3B3;
}
.current-jobs-section{
    height: 600px;
    background-color: #fff;
    padding: 30px 60px 30px 60px;
    display: flex;
    flex-direction: column;
}
.current-jobs-section p:first-of-type{
   color: #999999;
   text-align: center;
}
.current-jobs-section--heading{
   display: flex;
   justify-content: center;
}
.current-jobs-section--heading h1:first-of-type{
   color: #333333;
   font-weight: 400;
}
.current-jobs-section--heading h1:last-of-type{
    font-weight: 700;
    color: #333333;
    padding-left: 10px;
}
.job-detail{
  /* grid-template-columns: repeat(4,1fr); */
 /*  grid-template-columns: minmax(100px,1fr) minmax(100px,1fr) minmax(100px,1fr) minmax(100px,1fr);*/
   display: grid;
   grid-template-columns: minmax(100px,1fr) 1fr 1fr minmax(100px,1fr);
   margin-top: 70px;
   grid-gap: 20px;
}
.job-detail--item{
   border: 1px solid #D5F3E2;
   border-radius: 5px;
   padding: 5px;
   display: flex;
   align-items: center;
}
.job-detail--item h6{
   margin-bottom: 0;
   font-size: 16px;
   font-weight: 500;
   color: #444;
}
.job-detail--item p{
   margin-bottom: 0;
   color: #7DDBA5 !important;
   margin-left: 5px;
   padding: 3px;
   background-color: #E9F9EF;
   border-radius: 5px;
}
.job-detail--item:hover h6 {
   color: #69D596;
}
.job-listing-section{
   background-color: #F8F9FA;
   padding: 50px 60px 50px 60px;
}
.job-listing-section p:first-of-type{
   color: #999999;
   text-align: center;
   font-size: 18px;
}
.job-listing-section--heading{
   display: flex;
   justify-content: center;
   margin-bottom: 40px;
}
.job-listing-section--heading h1:first-of-type{
   color: #333333;
   font-weight: 400;
}
.job-listing-section--heading h1:last-of-type{
    font-weight: 700;
    color: #333333;
    padding-left: 10px;
}
.job-listing{
   background-color: #fff;
   display: flex;
   padding: 15px;
   margin-bottom: 10px;
}
.listing-front{
   display: flex;
   flex:1;
   flex-direction: column;
   justify-content: center;
}
.listing-front-top{
   display: flex;
   padding: 15px 0px;
}
.listing-front-top h1{
   color: #6C6C6C;
   font-size: 20px;
   font-weight: 500;
   margin-bottom: 0;
}
.listing-front-top p {
    background-color: #157EFA;
    border-radius: 25px;
    padding: 5px 10px;
    font-size: 12px !important;
    font-weight: 500;
    color: #fff !important;
    margin-left: 15px;
    margin-bottom: 0;
}
.listing-front-bottom{
   display: flex;
}
.listing-front-bottom div:first-of-type{
   display: flex;
}
.listing-front-bottom div:last-of-type{
   display: flex;
   padding-left: 10px;
}
.listing-front-bottom h4:first-child{
   color: #157EFA !important;
   font-size: 14px;
   font-weight: 400;
}
.listing-front-bottom h4:last-of-type{
   color: #BBBBBB !important;
   font-size: 14px;
   font-weight: 400; 
   padding-left: 5px;
}
.listing-end{
   display: flex;
   align-items: center;
}
.listing-end button{
    background-color: #157EFA;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    height: 35px;
    padding: 0px 15px;
    border-radius: 5px;
    outline-color: transparent
}
.listing-end div{
   height: 40px;
   width: 40px;
   border-radius: 20px;
   border: 1px solid rgb(243, 230, 230);
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 10px;
}
.pagination{
   height: 100px;
   justify-content: center;
   align-items: center;
}
.pagination-circle{
   height: 40px;
   width: 40px;
   border-radius: 20px;
   border: 1px solid rgb(243, 230, 230);
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 10px;
}
.pagination-circle-1{
   height: 40px;
   width: 40px;
   border-radius: 20px;
   border: 1px solid rgb(243, 230, 230);
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #5DD28E;
   margin-left: 10px;
}
.pagination-circle p{
   color: #5DD28E !important;
   margin-bottom: 0;
}
.pagination-circle-1 p{
   color: #fff !important;
   margin-bottom: 0;
}
.job-count{
   /* background-image: linear-gradient( rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url(./images/bg_2.jpg); */
   background-image: linear-gradient(to right,#636465,rgba(0,0,0,0.5)),url('./images/bg_1.jpg');
   height: 250px;
   background-size: cover;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}
.job-count h1{
   color: #fff;
}
.job-count p{
   color: #9F9F9F;
   font-size: 14px;
   font-weight: 500;
   text-align: center;
}
.testimonials-section{
   height: 550px;
   background-color: #FFFFFF;
   padding: 50px 30px
}
.testimonials-section p:first-child{
   color: #9D9D9D;
   text-align: center;
   font-size: 18px;
}
.testimonials-section--heading{
   display: flex;
   justify-content: center
}
.testimonials-section--heading h1:first-child{
   color: #333;
   font-weight: 400;
}
.testimonials-section--heading h1:last-child{
   padding-left: 10px
}
.customer-review{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   align-items: center;
   padding: 40px 20px;
   grid-gap: 30px;
}
.customer-review div img{
   height: 100px;
   width: 100px;
   border-radius: 50px;
}
.customer-review-container{
   position: relative;
}
.profile-image{
   position: relative;
}
.customer-review-container .profile-image div {
   height: 40px;
   width: 40px;
   border-radius: 20px;
   background-color: #fff;
   position: absolute;
   bottom: 0px;
   left: 70px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.customer-review-container p{
   color: #A1A1A1;
   font-size: 16px;
   line-height: 30px;
   margin: 15px 0px;
}

.customer-name{
   color: #000 !important;
   font-size: 18px;
   font-weight: 500;
   margin-bottom: 0 !important;
}
.customer-designation{
   color: #CFCFCF !important;
   font-size: 18px;
   font-weight: 500;
   margin-top: 0 !important;
}
.blog-section{
   height: 800px;
   background-color: #F8F9FA;
   display: flex;
   flex-direction: column;
   justify-content: center
}
.blog-section p:first-child{
   color: #9D9D9D;
   text-align: center;
   font-size: 18px;
}
.blog-section--heading{
   display: flex;
   justify-content: center
}
.blog-section--heading h1:first-child{
   color: #333;
   font-weight: 400;
}
.blog-section--heading h1:last-child{
   padding-left: 10px;
}
.blog-secton--container{
   display: grid;
   grid-template-columns:  minmax(100px,1fr) minmax(100px,1fr) minmax(100px,1fr) minmax(100px,1fr);
   grid-column-gap: 30px;
   padding: 40px 30px;
}
.blog-section--container--item{

}
.blog-section--container--item img{
   width: 100%;
   object-fit: cover;
   height: auto;
}
.blog-created-date{
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 40px;
}
.blog-created-date div{
   display: flex;
   align-items: center
}
.blog-created-date p{
   margin-bottom: 0;
}

.blog-created-date p:first-child{
   color: #B3B3B3;
   font-size: 16px;
}
.blog-created-date div h4{
   color: #C2C2C3;
   font-size: 16px;
   font-weight: 400;
   padding: 0px 10px;
   margin: 0;
}
.blog-created-date div p{
   color: #BEBFBF;
   font-size: 16px;
   padding: 0px 5px;
}
.blog-heading{
   padding: 15px 0px;
}
.blog-heading p{
   text-align: left !important;
   margin: 0;
   color: #454646 !important;
   font-size: 18px !important; 
   display: inline;
}
.blog-heading p:hover{
   color: #157EFB !important;
   cursor : pointer;
}
.blog-description p{
  color: #A0A0A0 !important;
  text-align: left !important;
  margin: 0; 
  font-size: 18px !important; 
  display: inline;
  font-weight: 400;
}
.subscription-section{
   height: 250px;
   background-color: #157EFB;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.subscription-section h1{
   color: #fff;
   font-weight: 400;
   font-size: 24px;
   text-align: center;
   letter-spacing: 5px
}
.subscription-section p{
   color: #DCEBFE;
   font-size: 16px;
   font-weight: 500;
   text-align: center;
   padding-left: 30%;
   padding-right: 30%;
}
.subscription-section--input{
   display: flex;
   justify-content: center;
}
.subscription-section--input input{
   padding: 10px;
   border-radius: 5px 0px 0px 5px;
   width: 25%;
   border: none;
}
.subscription-section--input input:focus{
   outline: none;
}
.subscription-section--input button{
   background-color: #5CD18E;
   color: #fff;
   padding: 0px 15px;
   border: none;
   border-radius: 0px 5px 5px 0px;
}
.footer-section{
   height: 500px;
   background-color: #222831;
   display: grid;
   grid-template-columns: repeat(4,1fr);
}
.footer-section h1{
   color: #fff;
   font-size: 22px;
   font-weight: 400;
}
.footer-section--container-1{
   background-color: #2D323B;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 30px 0px;
}
.footer-section--container-1 p{
   color: #B3BBB8;
   text-align: center;
   padding-left: 20%;
   padding-right: 20px;
   padding-top: 20px;
   padding-bottom: 20px;
}
.footer-section--container-1--icon-container{
   display: flex;
}
.footer-section--container-1--icon-container div{
   width: 60px;
   height: 60px;
   border-radius: 30px;
   background-color: #373C45;
   justify-content: center;
   align-items: center;
   display: flex;
   margin-left: 15px;
}
.footer-section--container-2{
   background-color: #2D323B;
   padding: 30px 0px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.footer-section--container-2 div {
   padding-left: 20%;
   padding-right: 20px;
   padding-top: 20px;
   padding-bottom: 20px;
}
.footer-section--container-2 div a{
   color: #74787E;
   display: block;
   font-size: 16px;
   font-weight: 500;
   text-decoration: none;
   padding-bottom: 10px;
}
.footer-section--container-3{
   background-color: #4B9BFC;
}
.footer-section--container-4{
  background-color: #5DD28E;
}
@keyframes mainContentAnimation{
   0%{
     opacity: 0;
     transform: translateY(100px);
   }
   100%{
     opacity: 1;
     transform: translateY(0);
   }
}
@keyframes mainSectionHeaderAfterScrolling{
   0%{
     transform: translateY(550);
     background-color: #000;
   }
   50%{
     transform: translateY(-100);
     background-color: 'pink';
   }
   70%{
      transform: translateY(-50);
      background-color: #157EFB;
   }
   100%{
      transform: translateY(0);
      background-color: #5DD28E;
   }
}
@keyframes descriptionSectionAnimation{
   0%{
      opacity: 0;
      transform: translateY(100px);
    }
    100%{
      opacity: 1;
      transform: translateY(0);
    }
}



/*  responsive for mobile design  */

@media only  screen and (max-width:600px){
   .main-section{
    background-image: linear-gradient( rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url(./images/bg_2.jpg);
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    min-width: 700px;
   }
   .main-section-header{
      display: flex;
      padding: 10px 0px;
      background-color: #000000;
   }
   .main-section-header-1{
      padding-left: 25px;
   }
   .main-section-header-2{
      display: none;
   }
   .main-section-header-2--toggle-button{
      display: flex;
      flex: 1;
      justify-content: flex-end;
      align-items: center;
      padding-right: 40px;
   }
   .main-section-header-2--toggle-button h1{
      color: #7E7E7E;
      font-size: 20px;
      margin: 0;
      padding-left: 10px;
   }
   .toggle--main-section-header-2--content {
      display: flex;
      flex-direction: column;
      background-color: #000000;
   }
   .toggle--main-section-header-2--content a{
      color: #fff;
      text-decoration: none;
      background-color: transparent;
      padding-left: 15px;
      padding-bottom: 15px;
   }
   .toggle--main-section-header-2--content a:first-child{
      color: #6B6B6B;
      padding-top: 15px;
   }
   .post-button-div{
      width: 90%;
      margin: 15px;
      margin-top: 0px;
   }
   .post-button-div button{
      width: 100%;
      background-color: #157EFB;
      border: none;
      color: #fff;
      padding: 10px;
      border-radius: 5px;
      text-align: left;
      font-size: 20px;
      padding-left: 20px;
   }
   .want-job--button-div{
      width: 90%;
      margin: 15px;
      margin-top: 0
   }
   .hidden{
      display: none;
   }
   .want-job--button-div button{
      width: 100%;
      background-color: #5DD28E;
      border: none;
      color: #fff;
      padding: 10px;
      border-radius: 5px;
      text-align: left;
      font-size: 20px;
      padding-left: 20px;
   }
   .main-section-content {
      color: rgb(255, 255, 255);
      animation-name: mainContentAnimation;
      animation-duration: 1s;
      animation-timing-function: ease;
      padding: 30px 20px;
  }
  .main-section-content p:first-of-type {
   color: #C8C9CC;
   font-size: 14px;
  }
  .main-section-content h1:first-of-type {
   font-size: 30px;
   font-weight: bold;
   color: #F0EBE9
  }
  .main-section-content p:nth-of-type(2) {
   font-size: 30px;
   margin: 0;
   line-height: 2rem;
   color: #E1E1E2;
  }
   .search-box-section a{
     
   }
   .search-box--container{
      background-color: #fff;
      height: auto;
      width: 50%;
      border-radius: 5px;
      align-items: center;
      display: block;
      justify-content: space-evenly;
      margin-top: 8px;
      padding: 15px;
   }
   .search-box--item-1 {
      width: 100%;
      border: 1px solid #DCDCDC;
      border-radius: 5px;
      display: flex;
      align-items: center;
      padding: 10px 10px 10px 10px;
      margin-bottom: 10px;
  }
  .search-box--item-2 {
   width: 100%;
   border: 1px solid #DCDCDC;
   border-radius: 5px;
   display: flex;
   align-items: center;
   padding: 10px 10px 10px 10px;
   margin-bottom: 10px;
}
.search-box--item-3 {
   width: 100%;
   border: 1px solid #DCDCDC;
   border-radius: 5px;
   display: flex;
   align-items: center;
   padding: 10px 10px 10px 10px;
   margin-bottom: 10px;
}
.search-box--item-4 {
   width: 100%;
}
}